input[type="submit"],
input[type="button"],
button {
  display: block;
  border: none;
  background: lighten($corpo1, 10%);
  border-radius: 4px;
  margin-top: 25px;
  transition: all 0.4s;
  a {
    padding: 7px 20px;
    display: block;
    color: $xxLight;
    text-transform: uppercase;
    @include rem(font-size, 12px);
    font-weight: $bold;
    @media screen and (max-width: $xs-max) {

      @include rem(font-size, 20px);
      padding: 15px 40px;
    }
  }
  @media screen and (max-width: $xs-max) {
    &.btn {
      padding: 0;
    }
  }
  &:hover,
  &:active,
  &:focus {
    transition: all 0.4s;
    background: $corpo1;
    a {
      text-decoration: none;
      color: $xxLight;
    }
  }
  &.red-btn {
    background: lighten($corpo2, 10%);
    &:hover,
    &:active,
    &:focus {
      background: $corpo2;
    }
  }
  .tpl & {
    @media screen and (max-width: $sm-max) {
      @include rem(font-size, 18px);
      padding: 8px 20px;
      a{
        @include rem(font-size, 18px);
        padding: 8px 20px;
      }
    }
  }
}

input[type="submit"],
input[type="button"] {
  padding: 7px 20px;
  display: block;
  color: $dark;
  text-transform: uppercase;
  @include rem(font-size, 12px);
  font-weight: $bold;
  &.red-btn {
    color: $xxLight;
  }
  @media screen and (max-width: $xs-max) {
    @include rem(font-size, 20px);
    padding: 15px 40px;
  }
  @media screen and (max-width: $xs-max) {
    @include rem(font-size, 20px);
    padding: 15px 40px;
  }
  .tpl & {
    @media screen and (max-width: $sm-max) {
      a {
        @include rem(font-size, 18px);
        padding: 8px 20px;
      }
    }
  }
}

.btn-container {
  clear: both;
  text-align: center;
  padding-top: 20px;
  button {
    display: inline-block;
  }
  .single &{
    text-align: left;
    @media screen and (max-width: $sm-max) {
      text-align: center;
    }
  }
}