label {
  color: $light;
  font-weight: $semibold;
  width: 100%;
}

input:not([type="submit"]),
textarea {
  @include rem(font-size, 14px);
  border: 2px solid $xLight;
  margin: 5px 0;
  display: block;
  resize: none;
  padding: 5px;
  color: $dark;
  font-weight: $regular;
  outline-color: $light;
  width: 100%;
}
input[type="submit"]{
  @media screen and(max-width: $sm-max) {
    margin: 5px auto;
  }
}
form{
  @media screen and(max-width: $sm-max) {
    text-align: left;
  }
}