//Templates
.tpl {
  position: relative;
  div {
    z-index: 2;
  }
  h1 {
    @include rem(line-height, 33px);
    &:after {
      content: '';
      display: block;
      width: 70px;
      height: 5px;
      margin-top: 25px;
      background: $corpo1;
    }
    margin-bottom: 50px;
    @media screen and (max-width: $sm-max) {
      text-align: center;
      &:after {
        margin: 25px auto 0;
      }
    }
  }
  @media screen and (max-width: $sm-max) {
    text-align: center;
  }
  &-cdwd {
    h1 {
      @include rem(font-size, 30px);
      &:after {
        display: none;
      }
    }
  }
  &-txt,
  &-tabs {
    text-align: center;
    h1:after {
      margin: 15px auto 0;
    }
    .tabs-item {
      p {
        margin: 20px auto;
      }
      ul {
        margin: 20px;
      }
      li {
        text-align: left;
      }
    }
  }
  &-act {
    li {
      list-style: none;
      margin-bottom: 30px;
    }
  }
  &-prt {
    &__list {
      text-align: center;
    }
    .list-item__tpl-prt {
      margin: 15px auto;
    }
    img {
      max-height: 45px;
      max-width: 60%;
      width: auto;
      height: auto;
    }
    @media screen and (max-width: $xs-max) {
      .form3 {
        display: none;
      }
      .list-item__tpl-prt {
        margin: 45px auto;
      }
    }
  }
}

// CWD
.svg-container {
  text-align: center;
  position: relative;
  margin: 0 auto;
  svg {
    transform: rotate(235deg);
    width: 80%;
    path:first-child {
      stroke: #3b3b3b;
    }
    #progress {
      stroke: $corpo1;
    }
  }
  #count {
    position: absolute;
    color: $corpo1;
    left: 50%;
    @include rem(font-size, 60px);
    transform: translate(-50%, -50%);
    top: 50%
  }
}