html {
  font-size: 62.5%;
}

body {
  @include rem(font-size, 16px);
  font-family: $font-primary, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include rem(line-height, 20px);
}

section {
  padding: {
    top: 65px;
    bottom: 65px;
  }
  overflow: hidden;
}
.main {
  background: $fond;
  section {
    background: none;
  }
  &.sticky-header{
    padding-top: 65px;
  }
}
ul{
  padding: 0;
  margin: 0;
}