/**** FONTS ****/

//Weight
$regular : 400;
$semibold : 500;
$bold : 600;

//Size
$browser-context: 16;

//Declarations
$font-primary: 'Source Sans Pro';
$font-styles: (
        h1 40px $bold,
        h2 36px $semibold,
        h3 32px $semibold,
        h4 28px $semibold,
        h5 22px $semibold,
        h6 18px $semibold,
        p 15px $regular
);

/**** COLORS ****/

$xxLight : #fff;
$xLight : #dddee3;
$light: #bababa;
$dark: #000000;
$corpo1: #5ec1b5;
$corpo2: #e64f45;
$corpo3: #f1b256;
$fond : #f9f9f9;

/**** BREAKPOINTS ****/

$xxs-min: 579px;
$xxs-max: 580px;
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;

/**** PARALLAX ****/

$left: 0;
$transition: 0;

//Sections-Colors
$section2-color: (
        #f1f1f1,
        #d5d5d5,
        #acacac,
        #818181,
        #727272,
        #424242,
        #2d2d2d,
        #0d0d0d,
);
$section1-color: (
        #E08F4B,
        #EAC497,
        #a73d24,
        #9B3522,
        #7D261F,
        #481114,
        #2C0205,
        #0d0d0d,
);